
.box_timer-claro { display: block; width: 1020px; height: 65px; margin: 0 auto; position: relative; }
.bg_timer-prev { background: url(../i/bg_timer-carreraclaro.jpg);  }
.bg_timer-next { background: url(../i/bg_timer-carreraclaro-now.jpg);  }
.box_timer-claro a.btn_timer { display: block; height: 100%; }


.box_timer-claro .ui-countdown {    display: inline-block;    position: absolute;    right: 23%;    top: 11px;    margin-left: -155px; }
.box_timer-claro .ui-countdown .ui-caption {font-family: 'prelobold', sans-serif; font-size:12px; font-weight:normal; text-transform:uppercase; color:#c51530; position: absolute; top: -16px; width: 100%; text-align: center;  }
.box_timer-claro .ui-countdown .ui-nosupport .ui-back-1, 
.box_timer-claro .ui-countdown .ui-nosupport .ui-back-2  {display:none}
 
.box_timer-claro .ui-countdown .MSIE .ui-front-1{ height:100% }
.box_timer-claro .ui-countdown .MSIE .ui-front-2{ line-height:0; height:1px; bottom:50%;}
 
.box_timer-claro .ui-countdown .ui-group { margin-right:3px; padding-right: 3px; margin-top: 15px; float:left; border-right: 1px solid #d52b1e; position: relative; }
.box_timer-claro .ui-countdown .ui-group:last-child { border-right: none; }
.box_timer-claro .ui-countdown .ui-digit {     font-size: 22px; font-family: 'prelobold'; width: 16px; height: 30px; line-height: 32px; text-align: center; position: relative; float: left; margin-right: 1px;}
 
.box_timer-claro .ui-countdown .ui-digit span {  position: absolute;  left: 0;  width: 100%; color: #d52b1e;  overflow: hidden;  z-index:1;}
.box_timer-claro .ui-front-1, .box_timer-claro .ui-back-1 { background: #f0f0f0; }
.box_timer-claro .ui-front-2, .box_timer-claro .ui-back-2 { background: #f0f0f0; }

.box_timer-claro .ui-countdown .ui-inn .ui-front-1 {   -webkit-transition: -webkit-transform .5s ease-in; transition: transform .5s ease-in;   -webkit-transform-origin: bottom center; transform-origin: bottom center; -webkit-transform: perspective(500px) rotateX(-90deg); transform: perspective(500px) rotateX(-90deg);}
 
.box_timer-claro .ui-countdown .ui-out .ui-back-2{   -webkit-transition: -webkit-transform .5s ease-out; transition: transform .5s ease-out;   -webkit-transform-origin: top center; transform-origin: top center;  -webkit-transition-delay: .5s; transition-delay: .5s; -webkit-transform: perspective(500px) rotateX(0deg) !important; transform: perspective(500px) rotateX(0deg) !important; }
.box_timer-claro .ui-countdown .ui-digit .ui-back-2 {  -webkit-transform: perspective(500px) rotateX(90deg); transform: perspective(500px) rotateX(90deg);  z-index: 2;}
.box_timer-claro .ui-countdown .ui-front-1,
.box_timer-claro .ui-countdown .ui-back-1 {  height: 49%;}
.box_timer-claro .ui-countdown .ui-front-2,
.box_timer-claro .ui-countdown .ui-back-2 {  line-height: 3px;  height:50%;  bottom:0;}

.ui-countdown .ui-back-2 span { top:0; }




