.mod_flash { display: inline-block; width: 100%; background: url(../i/flash_eco/bg_flash.jpg);  margin-bottom:20px; }
.mod_flash .headflash { background: url(../i/flash_eco/bg_head.jpg) repeat-x 0 bottom #e5061b }
.headflash h2 { margin: 0; color: #fff; text-align: center; text-transform: uppercase; font-size: 34px; font-family: 'prelobold'; }
.logo_elec_fl { position: absolute; left: 10px; top: -43px; }


.body_flash { margin: 0; background: #fff; position: relative; display: inline-block; width: 100%; }
.body_flash h3 { margin: 0; text-align: center; padding-top: 10px; color: #797777; font-size: 16px; font-family: 'prelomedium'; text-transform: uppercase; margin-bottom: 10px; }
.body_flash ul { margin: 0 auto; width: 840px; }
.body_flash ul li { float: left; position: relative; height: 130px; margin-right: 72px; }
.body_flash ul li a { }
.body_flash ul li a img { border: 1px solid #ddd; }
.body_flash ul li a span { position: absolute; background: url(../i/flash_eco/bg_result.jpg) no-repeat 0 0; width: 90px; height: 30px; text-align: center; color: #fff; font-size: 23px; font-family: 'prelomedium'; bottom: 7px; left: 12px; font-weight: bold; }

.body_flash2v { margin: 0;  position: relative; display: inline-block; width: 100%; padding-bottom: 10px; }
.body_flash2v h3 { margin: 0; text-align: center; padding-top: 0; color: #797777; font-size: 16px; font-family: 'prelobold'; text-transform: uppercase; margin-bottom: 10px; }
.body_flash2v ul { margin-left: 107px;    width: 800px; }
.body_flash2v ul li {  position: relative;  }
.body_flash2v ul li.candidato01 { float: left; }
.body_flash2v ul li.candidato01 a span { left: 190px;  }
.body_flash2v ul li.candidato02 { float: right; }
.body_flash2v ul li.candidato02 a span { right: 190px;  }
.body_flash2v ul li a { }
.body_flash2v ul li a img { border: 2px solid #f3f0f1; }
.body_flash2v ul li a span { position: absolute; background: url(../i/flash_eco/bg_result_2v.jpg) no-repeat 0 0; width: 168px; height: 56px; text-align: center; color: #fff; font:42px/137% 'prelobold'; bottom: 7px;   }


.fotter_flash { background: url(../i/flash_eco/bg_footer.jpg) repeat-x 0 bottom  #2C2C2C; text-align: center; padding: 5px 0; border-top: 2px solid #D50D2D; }
.fotter_flash a { color: #fff; text-transform: uppercase; font-family: 'prelobold'; font-size: 24px; text-decoration: underline; padding-left: 30px; }
.last_fl { margin-right: 0!important }
