
/*noticias usa 2016*/
.box_especialx2{ background:#fff; height:111px; position:relative;}

.box_especialx2 .cont_noticias_x2{ padding-top: 8px;display: inline-block; right:6px; position: absolute; }
.box_especialx2 .cont_noticias_x2 .item_noticiax2{float: left;width: 335px;background: #19171B;padding: 4px;margin-right: 10px;}
.box_especialx2 .item_noticiax2 figure{    float: left;    position: relative;}
.box_especialx2 .item_noticiax2 figure figcaption img { width:160px; height: 88px; }
.box_especialx2 .item_noticiax2 h2{    font-size: 16.5px;    float: left;    width: 139px;    margin: 5px 5px 0 10px;    font-family: prelobold;    line-height: 100%;}
.box_especialx2 .item_noticiax2 h2 a{    color: #fff;      }

.box_especialx2 .link_especialx2 a {width: 221px;height: 88px;display: inline-block;}
.box_especialx2 .gif_vivo{    position: absolute;    right: 0;    bottom: 0px;}

 