
.box_lifweek{width: 100%;height: 120px;padding: 10px;overflow: hidden;}

.logo_lima{width:203px; height: 102px; float: left;}
.logo_lima a{display: block; }

.w_noticias{float: left;margin: 0px;width: 605px;height: 100px; overflow: hidden;}
.w_noticias .noticialifw{float: left; width: 297px;background: #1a171b;padding: 5px;overflow: hidden;margin-right: 10px;}
.w_noticias .noticialifw:last-child{margin-right: 0px;}
.w_noticias .noticialifw .imglifw{position:relative; float: left; width: 160px; height: 88px;}
.w_noticias .noticialifw .titularlifw{position:relative; float: right; width:119px; height: 88px;}
.w_noticias .noticialifw .titularlifw h4{ color: white;line-height: 16px;margin: 0;}
.w_noticias .noticialifw .titularlifw h4 a{ color: white;}
.w_noticias .noticialifw .titularlifw h4 a:hover{color: white; text-decoration: underline;}
.w_noticias .noticialifw .imglifw .envivo{width: 57px;height: 16px; background: url(../i/mod_lifweek/envivo.jpg) no-repeat;position: absolute; bottom: 0; right: 0;}
.auspicios{float: right;}

