@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light.woff') format('woff'),
         url('../fonts/Oswald-Light.ttf') format('truetype'),
         url('../fonts/Oswald-Light.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mod-lifweek { background-image: url("../i/mod_lifweek/bg.jpg"); background-repeat: no-repeat; height: 160px; margin-bottom: 20px; padding: 10px 23px; }
.mod-lifweek .logo { float: left; margin: 0 20px 10px 0; height: 59px; width: 96px; }
.mod-lifweek .logo a { background-image: url("../i/mod_lifweek/logo_lifweek15.jpg"); display: block; height: 59px; }
.mod-lifweek > h3 { color: #fff; float: left; font: 29px/59px "oswaldlight"; margin: 0; }
	.modlw-flujos { clear: both; overflow: hidden; }
		.modlw-flujo { border-right: 1px solid #05b3cb; float: left; margin-right: 9px; padding-right: 9px; width: 305px; }
		.modlw-flujo.last { border-right: 0; margin-right: 0; }
		.modlw-flujo figure { }
		.modlw-flujo a.img { float: left; width: 128px; }
		.modlw-flujo figcaption { padding-left: 138px; }
		.modlw-flujo h2 { font: 15px/1.1 "latobold"; margin: 0; }
		.modlw-flujo h2 a { color: #fff; }