.ads-1020x330 > div { margin-bottom: 20px; }
.ads-1020x330, .ads-1020x330 > div:empty { margin-bottom: 0; }

#ec-menu-items > li.m-ecplay { }
#ec-menu-items > li.m-ecplay > a { background: #000 url("../i/ec_play/btn_ecplay.png") no-repeat 0 0; padding: 0; text-indent: -9999px; width: 82px; }

.mod-ecplay { background-image: url("../i/ec_play/bg_ecplay.jpg?play"); height: 172px; margin-bottom: 20px; overflow: hidden; padding: 0 0 15px; }
	.mod-header { background: url("../i/ec_play/gradient.png?play") repeat-y right 0; height: 43px; margin-bottom: 18px; padding: 0 20px; }
	.mod-header h3, .mod-header h3 a { height: 36px; width: 143px; }
	.mod-header h3 { float: left; margin: 8px 0 0; }
	.mod-header h3 a { background-image: url("../i/ec_play/logo_ec_play.png"); display: block; height: 36px; text-indent: -9999px; width: 143px; }
	.mod-header ul { border-left: 1px solid #ffc605; float: right; margin-top: 15px; }
	.mod-header ul li { border-right: 1px solid #ffc605; float: left; font: 16px/1 "prelobold"; padding: 0 8px; text-transform: uppercase; }
	.mod-header ul li a { color: #fff; }

	.sl-ecplay { }
	.sl-ecplay .ui-content { margin: 0 auto; position: static; width: 980px; }
	.sl-ecplay .ui-arrows, .mod-playec .ui-arrows { opacity: 0; visibility: hidden; }
	.sl-ecplay:hover .ui-arrows, .mod-playec:hover .ui-arrows { opacity: 1; transition: opacity .2s linear; visibility: visible; }
	.sl-ecplay .ui-arrows a, .mod-playec .ui-arrows a  { background-image: url("../i/ec_play/nav_slider.png"); border-radius: 0; height: 45px; text-indent: 0; top: 22px; width: 24px; }
	.sl-ecplay .ui-arrows a.ui-prev, .mod-playec .ui-arrows a.ui-prev{ background-position: 0 0; left: 14px; }
	.sl-ecplay .ui-arrows a.ui-next, .mod-playec .ui-arrows a.ui-next{ background-position: 0 -45px; right: 14px; }
	.mod-playec .ui-arrows a.ui-prev{ left: 5px;}

		.f-ecplay { border-right: 1px solid #8f7211; float: left; margin-right: 10px; padding-right: 10px; width: 320px; }
		.f-ecplay.last { border-right: 0; margin-right: 0; }
		.f-ecplay figure { }
		.f-ecplay a.img { float: left; width: 166px; }
		.f-ecplay a.img .play-video { background-image: url("../i/ec_play/btn_play.png"); background-position: 0 0; bottom: auto; height: 41px; left: 50%; margin: -20px 0 0 -20px; right: auto; top: 50%; width: 41px; }
		.f-ecplay figcaption { padding-left: 176px; }
		.f-ecplay h2 { font: 14px/1.2 "prelobold"; margin: 0; }
		.f-ecplay h2 a { color: #fff; }



.row-playec{ margin-bottom: 20px;}
.mod-playec { background-image: url("../i/bg_mod_playec.png"); margin-bottom: 20px; padding: 10px 15px 20px; position: relative; overflow: hidden;}
		.mod-playec > h3 { margin-bottom: 14px; margin-top: 0; }
		.mod-playec > h3 > a { background-image: url("../i/logo_play_mod_home.png"); display: block; height: 22px; text-indent: -9999px; width: 104px; }
			.sl-playec { margin-bottom: 20px; }
			/*.sl-playec .ui-arrows a { font-size: 40px; top: 30px; }*/

				.f-playec { border-right: 1px solid #999; float: left; margin-right: 15px; padding-right: 11px; width: 306px; }
				.f-playec figure { float: left; width: 176px; }
				.f-playec h3 { bottom: 5px; font: 14px/24px "prelobold"; left: 5px; position: absolute; text-transform: uppercase; }
				.f-playec h3 a { color: #fff; display: block; padding: 0 8px; }
				.f-playec.f-bbc h3 a { background-color: #900700; }
				.f-playec.f-afp h3 a { background-color: #194898; }
				.f-playec.f-efe h3 a { background-color: #0042bb; }
				.f-playec.f-ec h3 a { background-color: #ffc600; color: #212121; }
				.f-playec .f-detalle { padding-left: 186px; }
				.f-playec .f-detalle h2 { font: 14px/1.2 "prelosemibold"; }
				.f-playec .f-detalle h2 a { color: #eee; }
				.f-playec.last { border-right: 0; padding-right: 0; }

.menu-agencias { bottom: 0; position: absolute; right: 0; }
				.menu-agencias ul li { float: left; font: 14px/24px "prelobold"; margin-left: 2px; text-align: center; text-transform: uppercase; }
				.menu-agencias ul li a { color: #fff; display: block; width: 110px; }
				.menu-agencias ul li.mag-bbc a { background-color: #900700; }
				.menu-agencias ul li.mag-afp a { background-color: #194898; }
				.menu-agencias ul li.mag-efe a { background-color: #0042bb; }
				.menu-agencias ul li.mag-ec a { background-color: #ffc600; color: #212121; }



.mod-auspicio{ float: right; width: 303px; margin-left: 15px; margin-right: 20px; border-top: 2px solid #bbbbbb; padding-top: 5px;}
.mod-auspicio .t-seccion{ font: 11px/100% 'prelobold'; color: #f91d27; text-transform: uppercase; margin-bottom:2px; }
.mod-auspicio h2{ margin-top: 0; line-height: 95%; margin-bottom: 8px;}
.mod-auspicio h2 a{ font: 20px/95% 'preloextrabold'; color: #4e4e4e; text-transform: uppercase;	 }
.mod-auspicio .extracto-nota figure{ float: left; }
.mod-auspicio .extracto-nota p{ font: 13px/120% 'Arial'; color: #4d4d4d; margin: 0 0 0 147px;}
.mod-auspicio .orbit-auspicio .ui-arrows{ background: #ededed; height: 29px; position: relative;}
.mod-auspicio .orbit-auspicio .ui-arrows > a{ display: block; width: 30px; height: 29px; background: #4e4e4e; color: #fff; text-align: center;line-height: 30px; border-radius: 0; left: 0; top: 0; font-size: 12px;}
.mod-auspicio .orbit-auspicio .ui-arrows > a.ui-next{ left: auto; right: 0}
.mod-auspicio .orbit-auspicio .ui-pager{ text-align: center; padding-top: 7px;}
.mod-auspicio .orbit-auspicio .ui-pager > li{ width: 15px; height: 15px; display: inline-block; border-radius: 50%; background: #bbbbbb; margin: 0 3px;}
.mod-auspicio .orbit-auspicio .ui-pager > li.ui-active{ background: #4e4e4e;}
.mod-auspicio .orbit-auspicio .ui-content{ margin-bottom: 9px; }
.mod-auspicio.item-o{ padding-top: 12px;}
.mod-auspicio.item-o .t-seccion{ margin-bottom: 7px;}
.mod-auspicio.item-o h2{ margin-bottom: 13px;}