.mod-aec-home, .mod-aec-luces { background-color: #f94141; background-image: url("../i/aec/bg_aec_home.jpg"); background-position: 0 bottom; background-repeat: repeat-x; border-bottom: 3px solid #fa4141; }
.mod-aec-home { margin-bottom: 20px; padding: 10px; }
	.mod-aec-header > a { display: block; float: left; line-height: .7; }
		.aec-sponsor-menu { color: #fff; float: right; width: 96px; }
			.aec-sponsor { padding-top: 8px; }
			.aec-sponsor span { display: block; font: 10px/1 "prelobook"; margin-bottom: 5px; }


.mod-aec-home .mod-aec-header img.logo_aec { width: 110px;  }
.mod-aec-home .aec-sponsor { position: relative; }
.mod-aec-home .aec-sponsor span { position: absolute; z-index: 99;width: 47px;top: 0px;left: 6px;}
.mod-aec-home .aec-sponsor a { position: absolute;width: 62px; right: 0;top: -5px; z-index: 98;}
.mod-aec-home .aec-sponsor a img { width: 60px;}

	.sl-aec { }
	.sl-aec a.ui-prev:before { content: "\f053"; }
	.sl-aec a.ui-next:before { content: "\f054"; }
	.sl-aec .ui-arrows { height: 42px; padding-top: 10px; }
	.sl-aec .ui-arrows a { background-color: #fa4141; border-radius: 0; color: #fff; font-size: 20px; height: 32px; line-height: 32px; padding-top: 1px; width: 32px; }
	.sl-aec .ui-arrows a.ui-prev { }
	.sl-aec .ui-arrows a.ui-next { }
	.sl-aec .ui-pager { padding-top: 5px; }
	.sl-aec .ui-pager li { background-image: url("../i/aec/item_sl_aec.png"); border-radius: 0; height: 8px; margin: 0; overflow: hidden; width: 40px; }
	.sl-aec .ui-pager li:hover, .sl-aec .ui-pager li.ui-active { background-position: 0 -8px; }

		.aec-flujo { width: 216px; }
		.aec-flujo figure a.img .play-video { background-image: url("../i/aec/icon_play.png"); background-position: 0 0; height: 45px; right: 3%; margin: -22px 0 0 -22px; left: auto; top: 22%; width: 45px; }
		.aec-flujo figcaption { bottom: 0; left: 0; position: absolute; width: 100%; }
		.aec-flujo figcaption h2 { font: 14px/1.2 "prelobold"; margin: 0; text-transform: uppercase; }
		.aec-flujo figcaption h2 a { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); color: #fff; display: block; padding: 15px 10px 10px; }		

.mod-aec-luces { background-image: url("../i/aec/bg_aec_luces.jpg"); margin-bottom: 10px; padding: 15px 25px; }	
.mod-aec-luces .aec-flujo { float: left; margin-right: 30px; width: 320px; }
.mod-aec-luces .aec-flujo figure a.img .play-video { top:50%; left: 50%; }
.mod-aec-luces .aec-flujo figcaption h2 {  font-size: 17px;}
.mod-aec-luces .aec-flujo.last { margin-right: 0; }
.mod-aec-luces .aec-sponsor-menu { width: 460px; position: relative; top: -8px; }
.mod-aec-luces .aec-sponsor { margin-bottom: 10px; padding-top: 0; text-align: right; }
.mod-aec-luces .aec-sponsor span { display: inline-block; margin: 0 7px 0 0; }
.mod-aec-luces .aec-sponsor a { display: inline-block; }
.mod-aec-luces .aec-sponsor a img { vertical-align: middle; }
	.aec-menu { }
	.aec-menu ul { overflow: hidden; }
	.aec-menu ul li { float: left; }
	.aec-menu ul li a { background-image: url("../i/aec/btn_aec_menu.png"); display: block; height: 22px; text-indent: -9999px; }
	.aec-menu ul li.item-musica a { background-image: 0 0; width: 95px; }
	.aec-menu ul li.item-teatro a { background-position: -95px 0; width: 98px; }
	.aec-menu ul li.item-letras a { background-position: -193px 0; width: 99px; }
	.aec-menu ul li.item-artes-plasticas a { background-position: -292px 0; width: 168px; }	

#ec-menu-items > li.m-aec > a { display: block; height: 35px; padding: 0; }
#ec-menu-items > li.m-aec > a img { position: relative; top:0; }

#ec-container .interna_trm .img-nota img, .nota-img img { width: 100% !important; height: auto !important;  }