@font-face { font-family: 'prelo_compressedbold'; src: url('../fonts/PreloCompressed-Bold.eot'); src: url('../fonts/PreloCompressed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PreloCompressed-Bold.woff') format('woff'), url('../fonts/PreloCompressed-Bold.ttf') format('truetype'), url('../fonts/PreloCompressed-Bold.svg#prelo_compressedbold') format('svg'); font-weight: normal; font-style: normal; }
.ca-ticker { height: 72px; }
.ca-ticker h2, .sl-ca2015, .ca-sponsor { float: left; }
.ca-ticker h2, .ca-ticker h2 a { height: 72px; width: 158px; }
.ca-ticker h2 { margin: 0; }
.ca-ticker h2 a { background-image: url(../i/eliminatorias/logo_eliminatorias.jpg); display: block; text-indent: -9999px; }
.ca-ticker h2 a.btn_futbolm { background-image: url(../i/eliminatorias/logo_futbol_mundial.jpg); }

.sl-ca2015.mod-large { width: 100%; }
.sl-ca2015 { background-color: #1C0102; padding: 4px 0 4px 7px; position: relative; width: 672px; /*width: 822px;*/ }
.sl-ca2015 .l-gradient { background-image: url("../i/mod_ca2015/gradient_l.png"); display: block; height: 72px; pointer-events: none; position: absolute; left: 0; top: 0; width: 63px; z-index: 1; }
.sl-ca2015 .r-gradient { background-image: url("../i/mod_ca2015/gradient.png"); display: block; height: 72px; pointer-events: none; position: absolute; right: 0; top: 0; width: 63px; z-index: 1; }
.sl-ca2015 .ui-arrows { }
.sl-ca2015 .ui-arrows a { background-image: url("../i/mod_ca2015/nav_slider.png"); border-radius: 0; height: 45px; top: 10px; width: 24px; }
.sl-ca2015 .ui-arrows a.ui-prev { background-position: 0 0; }
.sl-ca2015 .ui-arrows a.ui-next { background-position: 0 -45px; right: 7px; }
.f-match { background-color:#503B3C; height: 64px; margin-right: 5px; padding: 3px 2px; text-align: center; width: 130px; }
.gr-fecha { color: #fff; display: block; font: 14px/1 "prelo_compressedbold"; margin-bottom: 1px; text-transform: uppercase; }
.ca-eqs { overflow: hidden; }
.flags-info { background-color: #fff; height: 29px; overflow: hidden; padding: 5px; width: 100%; }
.ca-eq1, .score-info, .ca-eq2 { display: block; float: left; width: 32px; }
.ca-eq1, .ca-eq2 { border: 1px solid #dbdbdb; height: 20px; }
.score-info { color: #333; font: 20px/20px "prelobold"; width: 52px; }
.nom-eq1, .nom-eq2 { color: #fff; display: block; font: 14px/1 "prelo_compressedbold"; text-transform: uppercase; width: 33%; }
.nom-eq1 { float: left; }
.nom-eq2 { float: right; }
.ca-sponsor { line-height: .7; width: 150px; }
.mod-ca2015 { padding-bottom: 0; }
.mod-ca2015 .ui-box1x1 figcaption { background-image: url("../i/eliminatorias/bg_title.jpg"); background-position: center 0; }
.mod-ca2015 .ui-box1x1 h2 { font-family: "preloextrabold_italic"; }
.mod-ca2015 .ui-box1x1 h2 a { }
.mod-ca2015 .ui-box2x2 figcaption { background-color: transparent; background-image: url("../i/eliminatorias/bg_title.jpg"); background-position: center 0; }
.mod-ca2015 .ui-box2x2 h2 { font-family: "preloextrabold_italic"; }
.mod-ca2015 .ui-box2x2 p, .mod-ca2015 .ui-box2x2 p a { color: #fff; }

.zona-eliminatorias { background-image: url(../i/eliminatorias/bg_flujos.jpg); height: 200px; padding: 12px 20px; width: 980px; }
.zona-eliminatorias a.btn_mundial { display: inline-block; width: 180px; height: 170px; }
	.flow-zone { float: right; width: 746px; }


		.note-flow { float: left; height: 176px; margin-right: 14px; width: 176px; }
		.note-flow.last { margin-right: 0; }
			.flow-image { height: 176px; overflow: hidden; }
			.flow-image a.img { height: 98px; } 
				.flow-detail { background-image: url("../i/eliminatorias/bg_title.jpg"); background-position: center 0; min-height: 78px; padding: 10px; }
					.flow-title { font: 16px/1.1 "preloextrabold_italic"; margin: 0; }
					.flow-title a { color: #fff; }
